body{
   font: 20px Arial, sans-serif;
   
}

.navbar-brand img{
    margin: 15px 15px 15px ;
}

.navbar-nav li a{
    margin: 15px;
}

.navbar{
    background-color: rgba(197, 230, 15, 0.644);
    border-radius: 0px 0px 20px 20px;
}

.quem-somos{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.margin{
    padding-bottom: 50px;
    color: black;
    padding-top: 10px;
}
.parceiros{
    background-color: rgba(197, 230, 15, 0.644);
    border-radius: 20px 20px 0px 0px;
    color: rgb(15, 1, 1);
}

.bg-footer{
    background-color: black;
    color:white ;
}